In [33]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [34]:
df = pd.read_csv('segmentation-data.csv')
df

,ID,Sex,Marital status,Age,Education,Income,Occupation,Settlement size
0,100000001,0,0,67,2,124670,1,2
1,100000002,1,1,22,1,150773,1,2
2,100000003,0,0,49,1,89210,0,0
3,100000004,0,0,45,1,171565,1,1
4,100000005,0,0,53,1,149031,1,1
...,...,...,...,...,...,...,...,...
1995,100001996,1,0,47,1,123525,0,0
1996,100001997,1,1,27,1,117744,1,0
1997,100001998,0,0,31,0,86400,0,0
1998,100001999,1,1,24,1,97968,0,0
1999,100002000,0,0,25,0,68416,0,0

In [35]:
df.shape

(2000, 8)

In [36]:
df.isnull().sum()

ID                 0
Sex                0
Marital status     0
Age                0
Education          0
Income             0
Occupation         0
Settlement size    0
dtype: int64

In [37]:
# X = df.drop(columns=['Settlement size'])
# y = df['Settlement size']

In [38]:
# X_train,X_test,y_train,y_test = train_test_split(X, y,test_size=0.2,random_state=1)

In [39]:
# scaler = StandardScaler()

In [40]:
# X_train = scaler.fit_transform(X_train)
# X_test = scaler.transform(X_test)

In [41]:
km = KMeans(n_clusters=3)

In [42]:
km.fit(df)

/opt/anaconda3/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans(n_clusters=3)

In [43]:
# y_pred = km.predict(X_test)

In [44]:
centroids = km.cluster_centers_
centroids

array([[1.00000921e+08, 3.86740331e-01, 4.48618785e-01, 3.77314917e+01,
        1.07182320e+00, 1.31283906e+05, 9.90055249e-01, 9.48066298e-01],
       [1.00000689e+08, 2.93333333e-01, 4.57777778e-01, 4.38755556e+01,
        1.34666667e+00, 1.97576120e+05, 1.57777778e+00, 1.36444444e+00],
       [1.00001164e+08, 5.72413793e-01, 5.56321839e-01, 3.19528736e+01,
        9.22988506e-01, 9.03934207e+04, 4.25287356e-01, 3.59770115e-01]])